@import "../../../../Styles/common.scss";

.MoviePosters {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  .moviePoster {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
