@import "../../../../Styles/common.scss";

$min1023: "(min-width: 1023px)";
$min719: "(min-width: 719px)";

.DetailHeader {
  background: $white;

  .responsiveBlock {
    margin: 0 auto;
  }

  @media #{$min719} {
    .responsiveBlock {
      max-width: 640px;
    }
  }

  @media #{$min1023} {
    .responsiveBlock {
      max-width: 960px;
      margin: 0 -8px;
      padding: 0 8px;
    }
  }
}

@media #{$min719} {
  .DetailHeader {
    border-bottom: 1px solid $border-grey;
  }
}
