@import "../../../../Styles/common.scss";

.MovieListSlider {
  margin-bottom: 42px;

  .movieTitle {
    max-width: 1320px;
    margin: 0 auto;
    padding: 12px 0 14px;

    & > p {
      font-size: 22px;
      font-weight: 700;
      height: 30px;
      line-height: 30px;
      letter-spacing: -0.4px;
      color: #292a32;
    }
  }
}
