@import "../../../../Styles/common.scss";

.Poster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgb(234, 233, 232);
  border-radius: 5px;
  background: $background-grey;
  transition: all 300ms ease 0s;

  img {
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    background: $background-grey;
    transition: all 300ms ease 0s;
  }
}
