@import "../../Styles/common.scss";

.Footer {
  box-sizing: border-box;
  width: 100%;

  .rating_summary {
    height: 62px;
    text-align: center;
    line-height: 62px;
    background-color: rgb(16, 17, 19);
  }

  .info_container {
    padding: 20px 0px 38px;
    background-color: rgb(28, 29, 31);
  }
}
