@import "../../Styles/common.scss";

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 62px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 0px 0px;
  background-color: $white;
  transition: background-color 200ms ease 0s;
}
