@import "../../../../Styles/common.scss";

.MoviePosterItem {
  display: inline-block;
  margin-right: 16px;
  width: 95%;

  & > a {
    width: 100%;

    .moviePosterImgContainer {
      position: relative;
      padding-bottom: 145.37037037037038%;
      width: 100%;
      height: 0;

      .posterImgItem {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid #eae9e8;
        border-radius: 5px;
        overflow: hidden;
        background: #f8f8f8;
        vertical-align: top;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background: $background-grey;
        }

        .rankBadge {
          position: absolute;
          top: 6px;
          left: 6px;
          bottom: 6px;
          width: 28px;
          height: 28px;
          line-height: 27px;
          border-radius: 4px;
          background-color: rgba(0, 0, 0, 0.77);
          color: rgb(255, 255, 255);
          font-weight: 700;
          text-align: center;
        }

        .removeRankBadge {
          display: none;
        }

        .ottBadge {
          display: none;
          width: 30px;
          height: 30px;
          background-color: $white;
          border: 1px solid rgba(0, 0, 0, 0.07);
          border-radius: 50%;
          box-sizing: content-box;

          & > img {
            position: absolute;
            top: 5px;
            right: 6px;
            bottom: 6px;
            width: 20px;
            height: 20px;
          }
        }

        .netflix {
          display: block;
          position: absolute;
          top: 6px;
          right: 6px;
          bottom: 6px;
        }

        .watcha {
          display: block;
          position: absolute;
          top: 6px;
          right: 42px;
          bottom: 6px;
        }

        .onlyWatcha {
          display: block;
          position: absolute;
          top: 6px;
          right: 6px;
          bottom: 6px;
        }
      }
    }

    .moviePosterInfo {
      margin: 5px 10px 0 0;
      text-align: left;
      height: 100%;

      .movieContentTitle {
        color: #292a32;
        font-weight: 500;
        letter-spacing: -0.3px;
        line-height: 22px;
        margin-bottom: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .contentYearAndNation {
        color: #292a32;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        padding-bottom: 1px;
        letter-spacing: normal;
      }

      .removeYearNation {
        display: none;
      }

      .average {
        display: flex;
        align-items: center;
        color: #555765;
        margin-top: 2px;

        & > span {
          height: 15px;
          font-size: 14px;
        }

        & > span:nth-child(2) {
          font-size: 13px;
          margin: 0 1px 0 1px;
        }
      }
    }
  }
}
